@model AspNetCoreWebApp.Models.TierList

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TierList</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Atribute)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Atribute)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WikiUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WikiUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
